@page
@model TransactionSystem.Pages.Admin.AddUserModel
<head>
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<h2>Dodaj użytkownika</h2>


<form method="post" asp-page-handler="AddCustomer">
    <label for="Name" class="form-label">Imię:</label>
    <input type="text" class="form-control" id="Name" asp-for="customer.Name">

    <label for="Email" class="form-label">Email:</label>
    <input type="text" class="form-control" id="Email" asp-for="customer.Email">

    <label for="Phone" class="form-label">Telefon:</label>
    <input type="text" class="form-control" id="Phone" asp-for="customer.Phone">

    <label for="Password" class="form-label">Hasło:</label>
    <input type="password" class="form-control" id="Password" asp-for="customer.Password">

    <Br>
    <input class="btn btn-primary" type="submit" value="Dodaj Użytkownika">

</form>
<br>
<h2>Użytkownicy</h2>


<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Hasło</th>
            <th>Usuń</th>
            <th>Edytuj</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Phone</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>
                    <form method ="post" asp-page-handler="Delete">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">X</button>
                    </form>
                </td>
                <td><button type="button" onclick="showEditRow(@user.Id)" class="btn btn-primary">Edit</button></td>
            </tr>

            <tr id="edit-row-@user.Id" class="edit-row" style="display: none">
                <td colspan="3">
                    <form method="post" asp-page-handler="EditUser">
                        <div>
                            <label for="user.Name" class="control-label">Imię:</label>
                            <input asp-for="user.Name" class="form-control" />
                        </div>
                        <div>
                            <label for="user.Phone" class="control-label">Telefon:</label>
                            <input asp-for="user.Phone" class="form-control" />
                        </div>
                        <div>
                            <label for="user.Email" class="control-label">Email:</label>
                            <input asp-for="user.Email" class="form-control" />
                        </div>
                        <div>
                            <label for="user.Password" class="control-label">Hasło:</label>
                            <input asp-for="user.Password" class="form-control" />
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-success" type="submit">Zapisz</button>
                        </div>
                        <div>
                            <input type="hidden" asp-for="user.Id" value="@user.Id" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        function showEditRow(id) {
            var $editRow = $("#edit-row-" + id);

            if ($editRow.is(":visible")) {
                $editRow.hide();
            }
            else {
                // Ukryj wszystkie wiersze edycji
                $(".edit-row").hide();

                // Pokaż wybrany wiersz edycji
                $editRow.show();
            }
        }

    </script>
}