@page
@model TransactionSystem.Pages.TransactionsModel
@{
    ViewData["Title"] = "Transakcje";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />

</head>



<h1>Witaj, @Model.Username!</h1>

<h2>Dodaj nową transakcję</h2>

<form method="post" asp-page-handler="AddTransaction">
<div class="form-group">
    <label class="control-label">Produkt:</label>
    <select asp-for="transactions.Product_id" class="form-control">
        <option value="">-- Wybierz --</option>
        @foreach (var obj in Model.products)
        {
            <option value="@obj.Id">@obj.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label class="control-label">Klient:</label>
    <select asp-for="transactions.Customer_id" class="form-control">
        <option value="">-- Wybierz --</option>
        @foreach (var obj in Model.users)
        {
            <option value="@obj.Id">@obj.Name</option>
        }
    </select>
</div>
    <div>
        <label for="transactions.Quantity" class="control-label">Ilość:</label>
        <input asp-for="transactions.Quantity" class="form-control"/>
    </div>
    <div>
    @{
        DateTime currentTimeUtc = DateTime.UtcNow;
        DateTime currentTimeWithOffset = currentTimeUtc.AddHours(2);
        string currentTimeWithOffsetString = currentTimeWithOffset.ToString("yyyy-MM-ddTHH:mm:ssZ");
    }
    <input type="hidden" asp-for="transactions.Transaction_date" value="@currentTimeWithOffsetString" />
    </div>
<br>
    <div>
    <input class="btn btn-primary" type="submit" value="Dodaj Transakcje">
    </div>
</form>
<br>
<h2>Lista produktów</h2>





<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>Id</th>
            <th>Klient</th>
            <th>Produkt</th>
            <th>Data</th>
            <th>Ilość</th>
            <th>Usuń</th>
            <th>Edytuj</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.transactionExtra)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.Customer_name</td>
                <td>@transaction.Product_name</td>
                <td>@transaction.Transaction_date</td>
                <td>@transaction.Quantity</td>
                <td>
                    <form method ="post" asp-page-handler="DeleteTransaction">
                        <input type="hidden" name="Id" value="@transaction.Id" />
                        <button type="submit" class="btn btn-danger">X</button>
                    </form>
               </td>
                <td>
                    <button class="btn btn-primary" onclick="showEditRow(@transaction.Id)">Edit</button>
                </td>
            </tr>

            <tr id="edit-row-@transaction.Id" class="edit-row" style="display: none">
                <td colspan="3">
                    <form method="post" asp-page-handler="EditTransaction">
                        <div class="form-group">
                            <label class="control-label">Produkt:</label>
                            <select asp-for="transactionsWithIDs.Product_id" class="form-control">
                                <option value="">-- Wybierz --</option>
                                @foreach (var obj in Model.products)
                                {
                                    <option value="@obj.Id">@obj.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Klient:</label>
                            <select asp-for="transactionsWithIDs.Customer_id" class="form-control">
                                <option value="">-- Wybierz --</option>
                                @foreach (var obj in Model.users)
                                {
                                    <option value="@obj.Id">@obj.Name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label for="transactions.Quantity" class="control-label">Ilość:</label>
                            <input asp-for="transactionsWithIDs.Quantity" class="form-control" />
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-success" type="submit">Zapisz</button>
                        </div>
                        <div>
                            @{
                                DateTime currentTimeEdit = DateTime.UtcNow;
                                DateTime currentTimeWithOffsetEdit = currentTimeEdit.AddHours(2);
                                string currentTimeWithOffsetStringEdit = currentTimeWithOffsetEdit.ToString("yyyy-MM-ddTHH:mm:ssZ");
                            }
                            <input type="hidden" asp-for="transactionsWithIDs.Transaction_date" value="@currentTimeWithOffsetStringEdit" />
                        </div>
                        <div>

                            <input type="hidden" asp-for="transactionsWithIDs.Id" value="@transaction.Id" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts {
    <script>
        function showEditRow(id) 
        {
            var $editRow = $("#edit-row-" + id);

            if ($editRow.is(":visible")) {
                $editRow.hide();
            } 
            else 
            {
                // Ukryj wszystkie wiersze edycji
                $(".edit-row").hide();

                // Pokaż wybrany wiersz edycji
                $editRow.show();
            }
        }

    </script>
}